.container {
    background-color: white;
    width: 400px;
    height: 300px;
    border-radius: 10px;
    padding: 10px;
}

.login-title {
    color: black;
    font-weight: 400;
    padding: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-top: 20px;
}

.text-field {
    background-color: white;
}

.submit-button {
    margin-top: 10px;
    width: 100px;
}