OPENAI_API_KEY=XXX
POSTGRES_USER=chatbot_admin
POSTGRES_PASSWORD=XXXXX
POSTGRES_HOST=db
POSTGRES_DB=chatbot_db
POSTGRES_HOST_AUTH_METHOD=trust
DB_ASYNC_URL=postgresql+asyncpg://chatbot_admin:XXXXX@db/chatbot_db
DB_SYNC_URL=postgresql://chatbot_admin:XXXXX@db/chatbot_db